/*********************SITE WIDE*********************/

:root {
  --link-color: #549fec;
  --link-hover: #f3c900;
  --links-top-border: 1px solid var(--light-gray-color);
  --header-padding-left: 16px;
  --footer-icon-width: 35px;
  --footer-icon-height: 40px;
  --light-gray-color: #c8c8c8;
  --dark-gray-color: #5e5e5e; /*#82a043;*/
  --project-tags-year-top-alignment: 30%;
  --domain-tag-color: #90daea;
  --population-tag-color: #f9ec27;
  --context-tag-color: #ae79e0;
  --method-tag-color: #fbb870;
  --interaction-tag-color: #8ed3ac;
  --project-grid-border-radius: 10px;
  --project-grid-border: 1px solid black;
  --more-details-margin: 10px;
  --more-details-font: 10px;
  --more-details-font-bigger1: 11px;
  --more-details-font-bigger2: 13px;
  --single-space: 12px;
  --single-space-pub-page: 16px;
  --best-paper-highlight: #d21b42;
}

@font-face { /* Neutra Text TF 500 */
	font-family: 'Neutra Text'; 
	font-style: normal;
	font-weight: 500;
	src: url('fonts/neutra-text-alt-cdnfonts/neutra-text-tf-5871e0b0704ed.otf');  
}
@font-face { /* Neutra Text Alt 500 */
	font-family: 'Neutra Text Alt'; 
	font-style: normal;
	font-weight: 500;
	src: url('fonts/neutra-text-alt-cdnfonts/neutra-text-alt-587261020eccb.otf');  
}
@font-face { /* Neutra Text Bold Italic 700 */
	font-family: 'Neutra Text Bold Italic'; 
	font-style: italic;
	font-weight: 700;
	src: url('fonts/neutra-text-alt-cdnfonts/neutra-text-bold-italic-5872615974382.otf');  
}
@font-face { /* Neutra Text Light 300 */
	font-family: 'Neutra Text Light'; 
	font-style: normal;
	font-weight: 300;
	src: url('fonts/neutra-text-alt-cdnfonts/neutra-text-light-5872613aeda5b.otf');  
}
@font-face { /* Neutra Text 700 */
	font-family: 'Neutra Text'; 
	font-style: bold;
	font-weight: 700;
	src: url('fonts/neutra-text-alt-cdnfonts/neutra-text-bold-5871e1605afa2.otf');  
}

html, body {
	margin: 0px;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
}
body > * {
  	flex-shrink: 0;
}
.page-wrapper {
	padding-left: 125px;
	padding-right: 125px;
}

/* Top of page header+nav bar */
.header-bar {
	font-family: "Alegreya Sans SC", "Alegreya Sans", sans-serif;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #a2a2a2;
}
#header-title-icon {
	max-height: 25px; 
	float: left; 
	padding-left: var(--header-padding-left);
}
#header-title {
	font-size: 24px;
	padding-left: 10px;
}

/* Links in the navigation bar */
.header-bar a {
  	float: left;
  	color: #000000;
  	text-align: center;
  	padding: 0 16px;
  	text-decoration: none;
  	font-size: 18px;
}
.header-bar a:hover {
  	color: var(--link-hover); /* On hover, change color */
}
.header-bar a.selected-link {
  	font-weight: 900; /* Bold link of active page */
}
/* Right-aligned navigation links */
.nav-links {
	float: right;
  	font-weight: 300;
  	padding-top: 6px;
}

.content {
	font-family: Avenir, sans-serif;
	padding-bottom: 50px;
}
.content-preface, .section-desc {
	font-size: 13px;
	margin-top: 5px;
}
#home-content {
	padding-bottom: 0px;
}
 
.tagline, .page-header, .section-header1, .section-header2 {
	font: normal normal 27px Avenir, sans-serif;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.section-header1 {
	margin-bottom: 10px;
}
.section-header2 {
	font-size: 24px;
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 30px;
	text-align: left;
}
.section-header3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.section-header3 + p {
	margin-top: 5px;
}
.link-look {
	/*font-style: italic;*/
	text-decoration: underline; 
	color: blue;
}

/* Eliminate the white space before bulleted list */
p + .condensed-list { margin-top: -1em; }
/* Reduce left margin of bullet */
.reduced-margin {
	margin-left: -20px;
}
.reduced-margin li span {
	position: relative;
	left: -5px;
}

.footer-container {
	/* Extend footer to bottom of page */
	flex-grow: 1;
	display: flex;
	font-family: "Neutra Text", sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	padding: 10px;
	height:  var(--footer-icon-height);
}
.footer-grid {
  	display: grid;
  	grid-template-areas:
    	'footer-left footer-mid footer-right';
    grid-template-columns: var(--footer-icon-width) auto var(--footer-icon-width);
  	width: 100%;
}
.footer-left { 
	grid-area: footer-left; 
}
.footer-mid {
	grid-area: footer-mid;
	text-align: center;
	position: relative;
}
.footer-right {
	grid-area: footer-right;
}
.footer-left, .footer-right {
	width: 100%;
	height: 100%;
	position: relative;
}
.footer-left img, .footer-right img {
	width: var(--footer-icon-width);
	height: var(--footer-icon-height);
	position: absolute;
	bottom: 0;
}
.footer-text {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-bottom: 10px;
}

/* Lightbox for images (screenshots, mockups, photos, etc) */
.my-gallery {
  	width: 100%;
  	float: left;
}
.my-gallery img {
  	width: 100%;
  	height: auto;
}
/*.gallery-thumb {
	float: left;
	width: 100px;
	height: 50px;
	margin-right: 10px;
	background-color: pink;
}*/
.my-gallery figure {
  	display: block;
  	float: left;
  	margin: 0 10px 10px 0;
  	width: 100px;
  	/*width: 100%;
  	height: 100%;*/
}
.my-gallery figcaption {
  	display: none;
}
.pswp__img {
	/*border: 1px solid gray;*/
}
.pswp__caption__center {
	font-family: Avenir;
	max-width: 900px;	
}


/*********************HOME PAGE*********************/

/* Lab logo and mission text */
.mission {
  	float: left;
  	padding-bottom: 50px;
  	box-sizing: border-box;
}
.logo {
  	width: 25%;
	margin: 0px;
	padding: 0px 0px 0px 90px;
}
.description {
  	width: 75%;
  	font-size: 15px;
  	padding-top: 0px;
  	padding-left: 45px;
  	margin-top: 0px;
}
/* Clear floats after the columns */
.mission-row:after {
  	content: "";
  	display: table;
  	clear: both;
}

/* Research areas, application areas, and keyword cloud */
.keywords-row {
	font-family: "Neutra Text", sans-serif;
	padding-top: 30px;
	padding-left: 170px;
	padding-right: 200px;
  	background-color: #000000;
}
.keywords {
  	float: left;
  	box-sizing: border-box;
	color: #FFFFFF;
	font-size: 18px;
}
.keywords-header {
	font-weight: bold;
	font-size: 22px;
	color: #FFCC66;
}
.word-list {
	margin-top: 5px;
}
.research-areas {
  	width: 43%;
}
.application-areas {
  	width: 37%;
}
.word-cloud {
  	width: 20%;
}
/* Clear floats after the columns */
.keywords-row:after {
  	content: "";
  	display: table;
  	clear: both;
}

/*********************NEWS PAGE*********************/
.news-entry-grid {
	font-family: Avenir;
	font-size: 15px;
  	display: grid;
  	grid-template-areas:
    	'news-thumb news-headline news-type'
    	'news-thumb news-date news-type'
    	'news-thumb news-content news-content';
  	grid-template-columns: 200px auto 50px;
  	grid-template-rows: 30px 30px auto;
  	grid-gap: 5x;
  	padding: 0px;
  	margin-bottom: 30px;
}
.news-thumb {
	grid-area: news-thumb;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	max-height: 200px;
	background-color: yellow;
	
}
.news-thumb img {
	width: 100%;
	height: 100%;
}
.news-type {
	grid-area: news-type;
	text-align: center;
	/*padding-top: 15px;*/
	/*background-color: pink;*/
}
.news-type:before {
	font-family: "Font Awesome 5 Free";  /* updated font-family */
	font-size: 20px;
	width: 20px;
	height: 20px;
	/*font-weight: 400; /* regular style/weight *!/*/
	color: var( --dark-gray-color);
	display: inline-block;
	padding: 5px;
	border: 1px solid #333;
	border-radius: 40%; /* make the border a circle */
	font-weight: 900; /*Some font awesome 5 icons not working without font-weight:900 https://stackoverflow.com/questions/47788847/font-awesome-5-font-family-issue */
}
.news-type-celebrate:before {
	content:  "\f582";
}
.news-type-event:before {
	content: "\f274";
}
.news-type-job:before {
	content: "\f0b1";
}
.news-type-pub:before {
	content: "\f570";
}
.news-type-pub-book:before {
	content: "\f02d";
}
.news-type-reshare:before {
	content:  "\f1ea";
}
.news-type-scholarship:before {
	content: "\f5a2";
}
.news-type-travel:before {
	content: "\f072";
}


.news-headline {
	grid-area: news-headline;
	font-size: 20px;
	text-align: left;
	background-color: cyan;
	padding: 0;
	margin: 0;
	/*position: relative;*/
}
/*.news-headline p {
	position: absolute;
	bottom: 0;
	margin: 0;
}*/
.news-date {
	grid-area: news-date;
	font-style: italic;
	text-align: left;
	background-color: #c35de9;
}
.news-content {
	grid-area: news-content;
	text-align: left;
	background-color: #a7e99d;
}
.news-content p {
	margin: 0;
	padding: 0;
}


/*********************PROJECTS PAGE*********************/

.tags-block {
	font-family: Neutra Text;
	/*background-color: #fa0505;*/
}
.tag-name {
	font-size: 14px;
	/*font-weight: bold;*/
	margin-right: 3px;	
}
.tags-bar {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tags-bar > span, .project-tags > span, .paper-tags > span { 
	font-family: Neutra Text;
	font-size: 12px;
	border: 1px solid #606060;
	border-radius: 6px;
	padding: 3px;
}

.domain-tag {
	background-color: var(--domain-tag-color);
}
.domain-span {
	color: var(--domain-tag-color);
}
.population-tag {
	background-color: var(--population-tag-color);
}
.population-span {
	color: var(--population-tag-color);
}
.context-tag {
	background-color: var(--context-tag-color);
}
.context-span {
	color: var(--context-tag-color);
}
.method-tag {
	background-color: var(--method-tag-color);
}
.method-span {
	color: var(--method-tag-color);
}
.interaction-tag {
	background-color: var(--interaction-tag-color);
}
.interaction-span {
	color: var(--interaction-tag-color);
}


.projects-row {
	/*background-color: yellow;*/
	margin-bottom: 10px;
}
.projects-row::after {
  	content: "";
  	clear: both;
  	display: table;
}
.project-column {
  	float: left;
  	width: 48%;
  	margin-right: 10px;
  	/*margin-bottom: 16px;*/
  	box-sizing: border-box;
  	/*background-color: orange;*/
}
.project-entry {
	/*background-color: yellow;*/ /* for layout/debugging */
}
.project-grid {
	font-family: Avenir;
  	display: grid;
  	grid-template-areas:
    	'title-tags-area title-tags-area year'
    	'proj-thumb desc desc'
    	/*'recruiting desc desc'*/
    	'materials-summary materials-summary materials-summary'
    	'footer footer footer';
    grid-template-columns: 100px auto 70px;
    grid-template-rows: 30px 125px 20px;
  	margin-bottom: 20px;
  	/*background-color: #2196F3; /* for layout/debugging *!/*/
  	
}
.project-grid-no-details {
	grid-template-rows: 30px 100px 20px;
}
.project-grid > div {
	font-size: 11px;
	/*background-color: rgba(255, 255, 255, 0.8); /* for layout/debugging *!/*/
	/*background-color: white; /* for layout/debugging *!/*/
}
.title-tags-bar { 
	grid-area: title-tags-area; 
	text-align: left;
	position: relative;
	background-color: black;
	border-radius: var(--project-grid-border-radius) 0px 0px 0px;
}
.project-name {
	font-family: Avenir;
	font-size: 20px;
	color: white;
	padding-left: 10px;
	/*padding-top: 15px;*/
}
.project-tags { 
	grid-area: tags-area;
	margin-left: 10px;
	margin-top: 0;
	padding: 0px;
	position: absolute;
	top: 20%;/*var(--project-tags-year-top-alignment);*/
	/*background-color: yellow; /* for layout/debugging *!/*/
}
.project-tags > span {
	font-size: 10.5px;
}
.project-years { 
	grid-area: year; 
	text-align: right;
	color: white;

	background-color: black;
	border-radius: 0px var(--project-grid-border-radius) 0px 0px;
	position: relative; 	
	/*border-radius: 0px var(--project-grid-border-radius-inner) 0px 0px;*/
}
.project-years > span {
	position: absolute;
	top: 20%;
	/*top: var(--project-tags-year-top-alignment);*/
	right: 0px;
	padding-right: 5px;
	/*padding-top: 5px;*/
	/*background-color: pink; /* for layout/debugging *!/*/
	border-radius: 0px var(--project-grid-border-radius) 0px 0px;
}
.project-thumb { 
	grid-area: proj-thumb; 
	position: relative;
	width: 100px;
	/*height: 100px;*/
	background-color: white;
	border-left: var(--project-grid-border);
	/*border-radius: var(--project-grid-border-radius-inner) 0px 0px 0px;*/
	/*background-color: pink; /* for layout/debugging *!/*/
}
.project-thumb img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	/*max-height: 100px;*/
	padding-top: 15px;
	/*background-color: green; /* for layout/debugging *!/*!/*/
}
.project-desc { 
	grid-area: desc; 
	text-align: left; 
	padding-top: 10px;
	padding-right: 5px;
	border-right: var(--project-grid-border);
}
.project-materials, .no-project-materials { 
	grid-area: materials-summary; 
	text-align: center; 
	border-left: var(--project-grid-border);
	border-right: var(--project-grid-border);
	padding-top: 5px;
}
.project-materials span {
	/*margin-bottom: 5px;*/
	/*vertical-align: middle;*/
	/*background-color: rgba(116, 172, 244, 0.66); /* for layout/debugging *!/*/
}
.project-materials > span:before {
	font-family: "Font Awesome 5 Free";
	font-size: 10px;
	width: 9px;
	height: 11px;
	display: inline-block;
	margin-left: 5px; /* distance from icon to previous material item */
	margin-right: 4px; /* distance from icon to material label */
	/*padding-top: 3px;*/
	/*vertical-align: middle;*/
	/*background-color: rgba(255, 192, 202, 0.66); /* for layout/debugging *!/*/
}
.project-materials > span:after {
	content: '\a0\2219\a0';
	/*color: gray;*/
	padding-left: 5px;
}
.project-materials > .last-material:after {
	content: none;
}
.material-pub:before {
	content: "";
	background-image:url(images/icons/material_pub2.png);
	background-size: 100% 100%;	
}
.material-thesis:before {
	content: "";
	background-image: url(images/icons/material_thesis4.png);
	background-size: 100% 100%;
}
.material-talk:before {
	content: "";
	background-image:url(images/icons/material_talk1.png);
	background-size: 100% 100%;
	/*margin-bottom: -2px;*/
}
.material-poster:before {
	content: "";
	background-image:url(images/icons/material_poster1.png);
	background-size: 100% 100%;
}
.material-demo:before {
	content: "";
	background-image:url(images/icons/material_demo.png);
	background-size: 100% 100%;
}
.material-video:before {
	content: '\f03d';
	font-weight: 900;
	/*content: "";
	background-image:url(images/icons/material_video2.png);
	background-size: 100% 100%;*/
/*	height: 11px;
	margin-top: 2px;*/
}
.material-workshop:before {
	content: "";
	background-image:url(images/icons/material_workshop.png);
	background-size: 100% 100%;
}
.material-press:before {
	/*content: '\f519';
	font-weight: 900;*/
	content: "";
	background: url(images/icons/material_press3.png) no-repeat;
	background-size: 100% 100%;
}
.recruiting-note:before {
	content: "\2713";
}

.project-details, .no-project-details { 
	grid-area: footer; 
	border: var(--project-grid-border);
	border-top: none;
	border-radius: 0px 0px var(--project-grid-border-radius) var(--project-grid-border-radius);
}
.proj-collapsible, .no-project-details {
	font-family: Avenir;
	font-size: 10px;
	text-align: center;
  	cursor: pointer;
  	width: 100%;
	margin-top: 5px;
  	border: none;
  	outline: none;
  	background-color: rgba(243, 201, 0, 0.6);
  	border-radius: 0px 0px var(--project-grid-border-radius) var(--project-grid-border-radius);
}
.no-project-materials {
	border-bottom: var(--project-grid-border);
	border-radius: 0px 0px var(--project-grid-border-radius) var(--project-grid-border-radius);
}
.proj-collapsible > span {
	font-family: Avenir;
	font-size: 10px;
	text-align: center;
	color: black;
	margin-left: var(--more-details-margin);
}
.active, .proj-collapsible:hover {
/*	font-family: Avenir;
	font-size: 10px;*/
  	background-color: rgba(243, 201, 0, 1.0);
  	/*background-color: var(--link-hover);*/
}
.active {
	border-radius: 0;
}
.proj-collapsible:after {
  	content: '\002B';
  	color: black;
  	/*font-weight: bold;*/
  	float: right;
  	margin-right: var(--more-details-margin);
}
.active:after {
  	content: "\2212";
}
.collapsible-content {
	padding: 0 5px;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
}
.proj-detail {
	font-size: 13px;
	/*border-top: 1px solid var(--light-gray-color);*/
	margin-bottom: 0px;
	/*background-color: purple; /* for layout/debugging *!/*/
}
.proj-pubs {
	/* pub icon*/
}
.proj-talks {
	/* TALK ICON*/
}
.proj-posters {
	/* POSTER ICON*/
}
.proj-demos {
	/* demo ICON*/
}
.proj-videos {
	/* video ICON*/
}
.proj-workshops {
	/* workshop ICON*/
}
.proj-press {
	/* press ICON*/
}
.proj-imgs {
	/* images icon */
}

.talk-info, .poster-info, .demo-info, .video-info, .workshop-info {
	margin-bottom: 5px;
}
.talk-info > p, .talk-info > span, .poster-info > p, .poster-info > span, .demo-info > p, .demo-info > span, .video-info > p, .video-info > span, .workshop-info > p, .workshop-info > span {
	font-size: var(--more-details-font);
	margin: 0px;
	/*background-color: green; /*for layout/debugging*!/*/
}

.proj-collabs {
	/* collab icon */	
	margin: 0px;
}
.proj-collabs > span {
	font-family: Avenir;
	font-size: 12px;
}

/* Formatting for talks/etc (currently only in collapsible section on 
projects page, but could eventually make separate Talks/etc page) */
.talk-row, .poster-row, .demo-row, .video-row, .workshop-row {
	/*background-color: #4aceef; /* for layout/debugging *!/*/
}
.talk-row::after, .poster-row::after, .demo-row::after, .video-row::after, .workshop-row::after {
  	content: "";
  	clear: both;
  	display: table;
}
.talk-column, .poster-column, .demo-column, .video-column, .workshop-column {
	font-family: "Avenir", sans-serif;
	font-size: 14px;
  	float: left;
  	padding-right: 10px;
	/*background-color: #cdafef; /* for layout/debugging *!/ */
}
.column-x1 {
	width: 100%;
}
.column-x1 > div > img, .column-x2 > div > img {
	/*Even though column is wider, don't make thumbnail stretch the full width*/
	width: 40%;
}
.column-x2 {
	width: 50%;
}
.column-x3 {
	width: 33.33%;
}

.talk-card, .poster-card, .demo-card, .video-card, .workshop-card {
	font-size: var(--more-details-font);
	margin: 0 0px 10px;
	width: 100%;
    /*background: yellow; /*for layout/debugging*!/*/
}
.talk-thumb, .poster-thumb, .demo-thumb, .video-thumb, .mklbItem-video, .workshop-thumb {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
/*	width: 175px;
	height: 131px;*/
	border: 1px solid var(--light-gray-color);
	/*background-color: #ea7f7f; /*for layout/debugging*!/*/
}
/*For videos that appear in paper or talk links, it's just text so don't put border, make it look like a link, and don't italicize on hover*/
/*.paper-links-container > .mklbItem, .talk-links-container > .mklbItem, .video-info > .mklbItem {
	border: none;
	text-decoration: underline; 
	color: var(--link-color)
}
.paper-links-container > .mklbItem:hover, .talk-links-container > .mklbItem:hover, .video-info > .mklbItem:hover {
    font-style: normal;
	font-weight: normal;
	color: var(--link-hover);
}*/


/*********************PUBLICATIONS PAGE*********************/
#pubs-page {

}
#pub-content {
	margin-left: 0px;
	padding-left: 0px;
	/*margin-left: auto;
	margin-right: auto;
	padding-left: var(--header-padding-left);*/
}
.header-footnote {
	font: italic 13px Avenir, sans-serif;
	text-align: center;
	margin-top: -5px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.pub-year-header, .project-section-header, .news-year-header {
	font-family: "Alegreya Sans SC", "Alegreya Sans", sans-serif;
	font-size: 26px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    color:  var(--dark-gray-color);
    border-bottom: 1px dashed var(--dark-gray-color);
}
.project-section-header {
	font-size: 24px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.pub-entry-grid {
	font-family: Avenir;
	font-size: 12px;
  	display: grid;
  	grid-template-areas:
    	'award paper-thumb paper-info'
    	'award paper-thumb paper-tags'
    	'award paper-thumb paper-links';
  	grid-template-columns: 30px 100px auto;
  	grid-template-rows: auto 25px 15px;
  	grid-gap: 0x;
  	padding: 0px;
  	margin-bottom: 30px;
}
.pub-entry-grid > .paper-info > p {
	/*padding-top: 5px;*/
	line-height: var(--single-space-pub-page);
}
.paper-title {
	padding-top: 0px;
	margin-top: 0px;
}
.proj-pub-entry-grid {
	grid-template-columns: 0px 90px auto;
	margin-bottom: 10px;
}
.proj-pub-entry-grid > .paper-thumb {
	margin: 0px;
	padding: 0px;
	margin-right: 5px;
}
.proj-pub-entry-grid > .paper-info > .paper-title {
	padding-top: 0px;
}
.proj-pub-entry-grid > .paper-info p {
	/*padding-top: 3px;*/
	line-height: var(--single-space);
}
.paper-title {
	/*background-color: cyan;*/
	/*padding-top: 0px;*/
}
.paper-id {
	grid-area: paper-id;
	text-align: left;
}
.paper-award {
	color: var(--best-paper-highlight);
	font-weight: bold;
}
.paper-award-icon {
	grid-area: award;
	text-align: center;
	padding-top: 3px;
}
.paper-award-icon:before {
	font-family: "Font Awesome 5 Free";  /* updated font-family */
	font-size: 20px;
	font-weight: 400; /* regular style/weight */
	color: var(--best-paper-highlight);
	display: inline-block;
}
.best-paper:before {
	content: "\f091";
	font-weight: 900; /*Some font awesome 5 icons not working without font-weight:900 https://stackoverflow.com/questions/47788847/font-awesome-5-font-family-issue */
}
.honorable-mention:before {
	content: '\f559';
	font-weight: 900; /*Some font awesome 5 icons not working without font-weight:900 https://stackoverflow.com/questions/47788847/font-awesome-5-font-family-issue */
}
.paper-thumb {
	grid-area: paper-thumb;
	margin-left: auto;
	margin-right: auto;
	margin-right: 10px;
}
.paper-thumb img {
	width: 90px;
	height: 120px;
	border: 1px solid #cbcbcb;
	background-color: green;
}
.horizontal-paper-thumb {
	height: 70px;
}
.paper-info {
	grid-area: paper-info;
	text-align: left;
}
.paper-info > p {
	margin: 0px;
}
.paper-title, .talk-title, .poster-title, .demo-title, .video-title, .workshop-title { 
	font-size: 15px;
}
.poster-title, .video-info, .video-venue {
	padding-top: 5px;
}
.paper-authors, .talk-presenters, .poster-presenters, .workshop-organizers { 
	font-size: 13px;
	padding-top: 5px;
	/*line-height: var(--single-space);*/
}
.pub-entry-grid > .paper-info > .paper-authors {
	padding-top: 3px;
}
.poster-presenters {
	padding-top: 0px;
}
.paper-venue, .talk-venue, .poster-venue, .video-venue, .workshop-venue { 
	font-style: italic;
	line-height: var(--single-space);
	color: var(--dark-gray-color);
	padding-top: 3px;
}
.paper-tags { 
	grid-area: paper-tags; 
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
}
.paper-links, .talk-links, .poster-links, .video-links, .workshop-links { 
	grid-area: paper-links; 
	text-align: left; 
}
.paper-links-container, .talk-links-container, .poster-links-container, .video-links-container, .workshop-links-container {
	color: black;
	border-top: var(--links-top-border);
}
.paper-links a, .talk-links a, .poster-links a, .video-links a, .workshop-links a {
	color: var(--link-color);
	text-decoration: underline;
}
.paper-links a:hover, .talk-links a:hover, .poster-links a:hover, .video-links a:hover, .workshop-links a:hover { 
	color: var(--link-hover);
	
	/* Override mklb.css .mklbItem:hover italicizing */
	font-style: normal; 
	font-weight: normal;
}
.video-links a {
	text-decoration: underline; 
}
.video-links a:hover { /* Override mklb.css .mklbItem:hover italicizing */
	font-style: normal;
	font-weight: normal;
}

/*Make lines in the Talk entries uniform heights even if wrap a 
different number of times*/ 
.talk-presenters {/*height: 30px;*/}
.talk-venue {/*height: 35px;*/}

/*Override the paper and other project material styling (to be smaller) 
for content within the 'More details' collapsible on the Projects page*/
.collapsible-content > p {
	text-align: left;
	/*background-color: red;*/
	font-size: var(--more-details-font-bigger2);
}
.proj-detail > span, .collapsible-content > div {
	text-align: left;
	/*background-color: cyan;*/
	font-size: var(--more-details-font);
}
.proj-recruiting > ul li {
	margin-top: -1em;
	padding-top: 0px;
	background: #cce5ff;
}

.collapsible-content .pub-entry-grid .paper-title {
	/*background-color: orange;*/
	font-size: var(--more-details-font-bigger1);
}
.collapsible-content .pub-entry-grid p {
	/*background-color: purple;*/
	font-size: var(--more-details-font);
}

/*********************PEOPLE PAGE*********************/
/* Grid of lab members, affiliated groups, and collaborators */
#people-page {
	margin-bottom: 150px;
}
.member-column, .affiliate-group-column {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 14px;
  	float: left;
  	width: 25%;
  	margin-bottom: 16px;
  	box-sizing: border-box;
}
/* Responsive on window resize */
@media screen and (max-width: 650px) {
  .member-column {
    width: 100%;
    display: block;
  }
  .affiliate-group-column {
    width: 100%;
    display: block;
  }
} 
.member-card-container, .affiliate-card-container {
	position: relative;
}
.affiliate-card-container {
	width: 200px;
	height: 108px;
	margin-left: auto;
	margin-right: auto;
}
.affiliate-card {
    width: 100%;
    height: 155px;           
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 13px;
}
.member-photo, .affiliate-group-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	width: 200px;
	height: 200px;
	border-radius: 13px 13px 0px 0px;
	border: 1px solid #bcbbbb;
	border-bottom: none;
}
.affiliate-group-photo {
	height: 108px;
}
.member-card-info {
	text-align: center;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	width: 200px;
	border-radius: 0px 0px 13px 13px;
	border: 1px solid #bcbbbb;
	border-top: none;
	position: relative;
	background-color: black;
}
.member-card-info::after, .members-row::after, .affiliates-row::after {
  	content: "";
  	clear: both;
  	display: table;
}
.member-name, .affiliate-group-name {
	font-family: Avenir, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 0px;
}
.affiliate-group-name {
	font-size: 14px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: black;
	border-radius: 0px 0px 13px 13px;
}
.member-name a {
  color: white;
  text-decoration: none;
}
.member-name a:hover {
  color: var(--link-hover); /* On hover, change color */
}
.member-title {
	font-size: 14px;
	color: #949393;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.member-affiliation {
	font-size: 12px;
  	color: #949393;
  	margin-top: 0px;
  	margin-bottom: 0px;
}
.member-contact-bar {
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top: 0px;
	padding-top:  0px;
	position: absolute;
	width: 100%;
	top: -1em; /* Placing icons halfway up overlapping photo */
	/*background-color: black;*/
}
.affiliate-linkout {
	/*font-size: 18px;*/
	text-align: center;
	color: var(--link-hover);
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top: 0px;
	padding-top:  45px;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 13px 13px 0px 0px;
	opacity: 0;
}
.member-contact-bar a {
  	font-size: 24px;
  	/*color: #4dafca;*/
  	color: white;/*#cdcdcd;*/
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	padding-top: 0px;
  	padding-bottom: 0px;
  	margin-top: 0x;
  	padding-right: 2px;
  	padding-left: 2px;
	transition: all 0.3s ease;
	/*text-shadow: 1px 0px 2px white, -1px 0px 2px white, 0px -1px 2px white, 0px 1px 2px white;*/
}
.ai, .member-contact-bar a svg {
	background-color: black;
	border-radius: 20px 20px 1px 1px;
	padding: 0px;
}
.affiliate-linkout a {
	font-size: 24px;
	font-style: italic;
	text-decoration: none;
	color: var(--link-hover);
	border: 1px solid var(--link-hover);
	background-color: black;
	padding: 5px;
}
.affiliate-linkout i {
	font-size: 16px;
	font-style: normal;
	margin-top: 0px;
	padding-top: 0px;
}
.affiliate-linkout:hover {
  background-color: black;
  opacity: .8;
}

.member-contact-bar a:hover {
  color: var(--link-hover);
}
.fa {
	background-image: radial-gradient(at center, black 50%, transparent 50%);
}
.fab, .ai {
  	background-image: radial-gradient(at center, black 63%, transparent 37%);
}
.fa-border {
	/*height: 10px;*/
	position: relative;
	text-shadow: 1px 0px 0px white, -1px 0px 0px white, 0px -1px 0px white, 0px 1px 0px white;
}
.member-projects {
	border-top: 1px solid #a2a2a2;
	font-style: italic;
	text-align: left;
	margin-top: 0px;
	padding-left: 5px;
}
.lab-member-emph {
	font-weight: bold;
}


/*********************RECRUITING PAGE*********************/
#building-imgs-right {
	width: 200px;
	float: right;
	padding-top: 25px;
}
#building-imgs-right figure {
	width: 90%;
  	margin-left: 10px;
}
.funding-table {
	height: 300px;
	margin: 0px;
}
.funding-table > iframe {
	width: 100%;
	height: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}